header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

h1 {
    margin-left: 4%;
}

.dark-mode {
    background-color: white;
    border: none;
    margin-right: 4%;
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-around;
    border-radius: 5px;
}

.dark-mode:hover {
    border: 1px lightgray solid;
    cursor: pointer;
    border-radius: 5px;
}

.dark {
    background-color: #2b3743;
    color: white;
}


@media (max-width: 540px){
    .light{
        width: 25%;
    }
    .dark-mode{
        width: 25%;
    }
}